
html, body {
  height: 100%;
  background-size: cover;
	background-position:center top;
    background-image: url(coming-2.jpg);
    background-repeat: no-repeat;
    color: black;
	font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
    webkit-tap-highlight-color: #222;
	 /* Add a font */
    font-family: "Love Ya Like A Sister", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
}
.total {
  height: 100%;
  min-height: 100%;
  
}
.vertical-align {
    display: flex;
    align-items: center;
}
.time{
    
padding-top:4%;
    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(time_p.png);
   color: black;
   font-size: 1.8vw;
   
   
}
.test{
background-color: rgba(255,255,255, 0.5);
}
.headerlpa {
    height: 74%;
}
@media (max-width: 768px) {
	html, body {
  height: 100%;
  background-size: cover;
	background-position:center top;
    background-image: url(coming-2.jpg);
    background-repeat: no-repeat;
    color: black;
	font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
    webkit-tap-highlight-color: #222;
	 /* Add a font */
    font-family: "Love Ya Like A Sister", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 15px;
}

