
header,
header .header-content {
    width: 100%;
    text-align: center
}
body,
html {
    height: 100%;
    width: 100%
}
body {
    font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
    webkit-tap-highlight-color: #222;
	 /* Add a font */
    font-family: "Love Ya Like A Sister", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 40px;
}

header {
    min-height:100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(coming_p.jpg);
    color: #fff
}
.time{
    min-height: 100px; 
padding-top:4%;
    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(time_p.png);
   color: black;
   font-size: 20px;
   font-weight: bold;
   
}
.back-header {
    padding: 150px 15px;
}
header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000000;
    margin-bottom: 0;
    font-size: 30px
}
.fa {
color : grey;
}
.right-icon {
padding-top : 25px;
}
@media (max-width: 767px) {
    header {

		background-size: cover;
    }
	.back-header {
		padding: 50px 15px;
	}
    
  

}
